@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<!--Holds the actual html usage of the data in the database-->
<!--Extra Boostrap commands:
    1. bg-dark
    2. text-white
    3. text-muted
    4. text-warning
    5. text-danger (just to see what it looks like)-->

@foreach (var x in Model.Books)
{
    <div class="card card-outline-primary m-1 p-1 text-white">
        <div class="bg-dark p-1">
            <h4>
                Title: @x.Title
                <span class="badge badge-pill badge-primary" style="float:right">
                    <p>
                        Author: @x.AuthorFirst
                        @if (x.AuthorMiddle != " ")
                        {
                            @x.AuthorMiddle
                        }
                        @x.AuthorLast
                    </p>
                </span>
            </h4>
            <p>ISBN: @x.ISBN</p>
            <div class="card-text p-1">
                <p>Publisher: @x.Publisher</p>
            </div>
            <p class="text-danger">Classification: @x.Classification</p>
            <p class="text-warning">Category: @x.Category</p>
            <p class="text-muted">Price: $@x.Price</p>
            <p>Pages: @x.NumPages</p>
        </div>
        
    </div>
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"></div>